.Home{
    margin-left: 20%;
    margin-right: 20%;
}
.Productos{
    margin-left: 20%;
    margin-right: 20%;
}
.Locales{
    margin-left: 20%;
    margin-right: 20%;
}
.Contactos{
    margin-left: 20%;
    margin-right: 20%;
}