body{
    background-color: rgb(22, 22, 22);
}

/*navbar*/

.Home{
    margin-left: 40%;
    margin-right: 20%;
}
.Productos{
    margin-left: 20%;
    margin-right: 20%;
}
.Locales{
    margin-left: -80%;
    margin-right: 20%;
}
.Contactos{
    margin-left: 10%;
    margin-right: 20%;
}

/*header*/

.contenedor-header{
    background-image: url(IMAGENES/imagenCentral.png);
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;    
}

.contenidoh1{
    margin-top: 20%;
    color: antiquewhite;
}

.contenidoh2{
    margin-top: 10%;
    color: antiquewhite;
}

.contenidoh3{
    margin-top: 10%;
    margin-bottom: 20%;
}

