body{
    background-color: rgb(22, 22, 22);
}

/*navbar*/
@media only screen and (min-width: 992px){
.Home{
    margin-left: 40%;
    margin-right: 20%;
}
.Productos{
    margin-left: 20%;
    margin-right: 20%;
}
.Locales{
    margin-left: -80%;
    margin-right: 20%;
}
.Contactos{
    margin-left: 10%;
    margin-right: 20%;
}
}
/*header*/

.contenedor-header{
    background-image: url(IMAGENES/imagenCentral.png);
    background-size: cover;
    background-repeat: no-repeat;    
}

.contenidoh1{
    margin-top: 20%;
    color: antiquewhite;
}

.contenidoh2{
    margin-top: 10%;
    color: antiquewhite;
}

.contenidoh3{
    margin-top: 10%;
    margin-bottom: 20%;
}

.btn-h{
    border-radius: 50px;
    background-color: black;
    opacity: 0.6;;
}

.tacc {
    color:black;
}

/*main*/

.mainProduc{
    color: antiquewhite;
    padding-top: 4%;
    padding-bottom: 4%;
    border-style: solid;
    border-color: rgb(172, 103, 46);
}

.nombreProduc{
    color: rgb(172, 103, 46);
    padding-top: 5%;
    padding-bottom: 4%;
}

.descriProduc{
    color: white;
    padding-top: 4%;
    padding-bottom: 6%;
    padding-left: 5%;
    padding-right: 5%;
}

.presenProduc{
    color: rgb(172, 103, 46);
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 5%;
    padding-right: 5%;
}

.botonProduc{
    padding-bottom: 6%;
}

.btn-p{
    color: rgb(172, 103, 46)!important;
    border-color: rgb(172, 103, 46)!important;
}

.btn-p:hover{
    color: black!important;
    background-color: rgb(172, 103, 46)!important;
}

/*contacto*/

.contacto1{
    background-color: antiquewhite;
}

.contacto2{
    color: rgb(172, 103, 46);
    padding-top: 7%;
    padding-bottom: 4%;
    padding-left: 5%;
    padding-right: 5%;
}

.contacto3{
    padding-left: 5%;
    padding-right: 5%;
}

.form-1{
    color: rgb(172, 103, 46);
}

/*recetas*/

.recetas1{
    background-color: grey;
}

.recetas2{
    color: white;
    padding-top: 4%;
    padding-bottom: 4%;
}

.recetas4{
    color:black;
}

@media only screen and (max-width: 992px){
.recetas3{
    display: none;
}
}

@media only screen and (min-width: 992px){
.carta1{
    padding-bottom: 10%;
}
.carousel{
    display: none;
}
}

/*Footer*/

.footerdiv{
    background-color: black;
}

.fooMenu{
    padding-top: -15%;
    padding-bottom: 10%;
    color: rgb(172, 103, 46)!important;
}

.fooUbi{
    margin-top: 15%;
    color: rgb(172, 103, 46)!important;
}

.foofuente{
    color: white;
}

.fooRedes{
    padding-top: 10%;
    color:rgb(172, 103, 46)!important;
}

.fooimg{
    padding-top: 5%;
}

@media only screen and (max-width: 992px){
    .foodisplay{
        display: none;
    }
    .fooUbi{
        margin-top: 5%;
        color:rgb(172, 103, 46)!important;
    }
    .foofuente{
        padding-bottom: 10%;
    }
    }
    
    @media only screen and (min-width: 992px){
    .foodisplay2{
        display: none;
    }
    }